openapi: 3.2.0
info:
  title: Komerce Shipping Delivery API (Komship) Pickup API
  version: v1
  description: 'Komerce Shipping Delivery API (Komship / Delivery Order API) — search destinations,

    calculate delivery price across regular, cargo and instant 3PL services, create and

    cancel orders, request pickup, print labels, and track airway bills. Authentication is

    a header API key (`x-api-key`) issued from the Collaborator dashboard under

    Developer -> Settings -> Api Key (the "Shipping Delivery" key). A sandbox environment

    mirrors production on a separate host.

    '
  contact:
    name: RajaOngkir Support
    email: support@rajaongkir.com
    url: https://rajaongkir.com/docs/delivery-order-api/getting_started/Getting-Started
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://rajaongkir.com/docs/delivery-order-api/getting_started/base-url
servers:
- url: https://api.collaborator.komerce.id
  description: Production environment
- url: https://api-sandbox.collaborator.komerce.id
  description: Sandbox environment
security:
- ApiKeyAuth: []
tags:
- name: Pickup
paths:
  /order/api/v1/pickup/request:
    post:
      operationId: requestPickup
      tags:
      - Pickup
      summary: Request order pickup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_no:
                  type: string
                pickup_date:
                  type: string
                pickup_time:
                  type: string
      responses:
        '200':
          description: Pickup requested
        '400':
          description: Invalid pickup request
        '401':
          description: Missing or invalid API key
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Shipping Delivery API key from the Collaborator dashboard. Sandbox and production use separate keys.
